.App {
  margin: 2rem;
}
body {
  display: flex;
  justify-content: center;
  margin: 0;
}
.App a {
  text-decoration: none;
}

.App .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(167, 190, 197);
  border-radius: 15px;
}

/* table styles */
.App table {
  background-color: white;
  width: 100%;
}

.App table tr th {
  color: rgb(167, 190, 197);
}
.App table tr:hover{
  background-color: rgb(221, 228, 230);
}

.App table tr td{
  padding: 1rem;
}

.App .text{
  text-align: left;
}

.App .link{
  padding: 1rem;
  border-radius: 30%;
  text-decoration: none;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(167, 190, 197);
}
.App .link:hover{
  box-shadow: none;
  background-color: white;
}

.error{
  padding: 2rem;
  color: white;
  font-size: larger;
}

/* head styles */
.App .head {
  display: flex;
  gap: 1rem;
  margin-left: 2rem;
} 

.App .container .head label {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: small;
} 

.App .head-left{
  display: flex;
  gap: 1rem;
  text-align: center;
}

.App .select{
  padding: 0.4rem;
  border-radius: 10px 10px 0px 0px;
  border-style: none;
  min-width: 6rem;
  height: 100%;
  font-size: small;
  background-color: white;
}

/* pagination styles */
.App .container .pagination{
  display: flex;
  justify-content: center;
}

.App .container .pagination button{
  padding: 0.4rem;
  width: 1.7rem;
  border-radius: 0px 0px 10px 10px;
  border-style: none;
  background-color: rgb(221, 228, 230);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.App .container .pagination button:hover{
  background-color: white;
  box-shadow: none;
}

.App .container .pagination .current{
  padding: 0.4rem;
  width: 1.7rem;
  border-radius: 0px 0px 10px 10px;
  border-style: none;
  background-color: white;
  box-shadow: none;
}

/* single post styles */
.App .post{
  display: flex;
  flex-direction: column;
  margin: 3rem;
  padding: 2rem;
  background-color: rgb(167, 190, 197);
  border-radius: 15px;
}

.App .head{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 1.5rem;
  text-align: center;
}
.App .head-right{
  display: flex;
  gap: 1rem;
  text-align: center;
}

.App .info{
  padding: 0.4rem;
  border-radius: 10px 10px 0px 0px;
  border-style: none;
  background-color: rgb(221, 228, 230);
  width: 6rem;
  font-size: small;
  font-weight: bold;
}

.App .post .title{
  padding: 2rem;
  background-color: rgb(221, 228, 230);
  border-radius: 15px 15px 0px 0px;
  font-size: larger;
  font-weight: bolder;
}

.App .post .body{
  padding: 2rem;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
}

/* loader */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid rgb(167, 190, 197);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* not found page */
.big-title{
  color: rgb(167, 190, 197);
  font-size: 8rem;
}

.button{
  background-color: rgb(167, 190, 197);
  padding: 0.6rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bolder;
}
.button:hover{
  background-color: white;
  color: rgb(167, 190, 197);
  box-shadow: none;
}





